@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
  font-family: 'Courier New';
  src: url('./images/CourierNewRegular.ttf');
}

* {
  --pry-color: #333333;
  --color-two: #808080;
  --bg-sec-color: #fcfcfc;
  --border-color: #dddddd;
  --color-three: #344276;
}

body {
  font-family: 'Montserrat';
  margin: 0px;
  padding: 0px;
  background-color: var(--bg-pry-color);
  font-size: 16px;
  line-height: 1.5;
  color: var(--pry-color);
}

#container {
  width: 100%;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  background-color: var(--bg-sec-color);
  border-radius: 2px;
}

h1 {
  font-family: 'Courier New';
  font-weight: 600;
  text-align: center;
  margin: 0px;
  line-height: normal;
  width: 100%;
  font-size: 76px;
  text-transform: capitalize;
}

h2 {
  font-family: 'Courier New';
  text-align: center;
  border-bottom: 2px solid var(--color-three);
  color: var(--color-three);
  font-size: 30px;
  line-height: normal;
  text-transform: capitalize;
}

h3 {
  font-family: 'Courier New';
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 18px;
  margin: 5px 0px;
}

nav ul {
  box-sizing: border-box;
  background-color: #0000005a;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 30px 20px;
  margin: 0px;
  list-style-type: none;
}

nav ul li a {
  color: #d6d6d6;
  text-decoration: none;
  border: thin solid white;
  padding: 10px 20px;
  transition: 0.3s all;
}

nav ul li a:hover {
  background-color: var(--color-three);
  color: var(--bg-sec-color);
  border: thin solid var(--color-three);
}

/* Portfolio Header */
header {
  color: var(--bg-sec-color);
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(var(--color-two), var(--color-two)), url("./images/headerBgImg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}

header p {
  text-align: center;
  width: 100%;
  margin: 0px;
  font-size: 20px;
  text-transform: capitalize;
}

section {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#about h2 {
  margin-bottom: 0px;
}
#about p {
  text-align: center;
  margin: 0px;
  font-size: 18px;
  max-width: 900px;
}


#skills h2 {
  margin: 0px;
}

#skills ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-size: 18px;
}

#projects h2 {
  margin: 0px;
}

.project_container {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 5%;
  justify-content: center;
  text-align: center;
  gap: 20px 40px;
  width: 100%;
  box-sizing: border-box;
}

.project {
  box-shadow: 0px 0px 10px 0px #6161614b;
  width: 470px;
}
.project img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.project h3 {
  margin: 0px;
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 600;
}
.project p {
  padding: 5px 10px;
}

.project_btn {
  margin-bottom: 10px;
}
.project_btn button {
  text-decoration: none;
  color: var(--color-three);
  padding: 10px 0px;
  transition: 0.3s all;
  background-color: var(--bg-sec-color);
  border: none;
}

.project_btn button:hover a {
  background-color: var(--color-three);
  color: var(--bg-sec-color);
}

.project_btn a {
  text-decoration: none;
  color: var(--color-three);
  padding: 10px 20px;
  transition: 0.3s all;
  background-color: var(--bg-sec-color);
  border: thin solid var(--color-three);
}


.form_btn {
  width: 100%;
  text-align: center;
  margin: 10px 0px;
}
.form_btn button {
  width: 100px;
  height: 40px;
  background-color: var(--bg-sec-color);
  color: var(--color-three);
  border: thin solid var(--color-three);
  border-radius: 2px;
  cursor: pointer;
  transition: 0.3s all;
}
form button:hover {
  background-color: var(--color-three);
  color: var(--bg-sec-color);
}

.input_group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: start;
  justify-content: start;
}
.input_group input {
  width: 350px;
  height: 35px;
}

.input_group textarea {
  width: 350px;
  height: 100px;
}


@media screen and (max-width: 768px) {
  header {
    height: 100vh;
  }
  h1 {
    line-height: 0.9;
  }
  nav {
    font-size: 14px;
  }
  nav ul li a {
  padding: 7px 10px;
}
  #container {
    padding: 20px;
  }
  #about p {
    font-size: 16px;
  }
  #skills ul {
    font-size: 16px;
  }
  .project_container {
    padding: 20px 0px;
  }
  .project {
    box-shadow: 0px 0px 10px 0px #6161614b;
  }
  .project img {
    height: 200px;
  }
  .project h3 {
    font-size: 20px;
  }
}
