@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@font-face {
    font-family: 'Courier New';
    src: url('./images/CourierNewRegular.ttf');
}

* {
    --pry-color: #333333;
    --color-two: #808080;
    --bg-sec-color: #fcfcfc;
    --border-color: #dddddd;
    --color-three: #344276;
}
body {
    font-family: 'Montserrat';
    margin: 0px;
    padding: 0px;
    background-color: var(--bg-pry-color);
    font-size: 16px;
    line-height: 1.5;
    color: var(--pry-color);
}

#container {
    width: 100%;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    background-color: var(--bg-sec-color);
    border-radius: 2px;
}
h1 {
    font-family: 'Courier New';
    font-size: 45px;
    font-weight: 600;
}

h2 {
    font-family: 'Courier New';
    width: 90%;
    border-bottom: 2px solid var(--border-color);
    color: var(--color-three);
    font-size: 30px;
    text-transform: uppercase;
}
h3 {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 18px;
    margin: 5px 0px;
}

ion-icon {
    margin-right: 10px;
    color: var(--color-three);
    font-size: 30px;
}

/* Portfolio Header */
.port-header {
    padding: 5% 0px 2% 0px;
    color: var(--bg-sec-color);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-image: linear-gradient(var(--color-two), var(--color-two)), url("./images/headerBgImg.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-attachment: scroll;
}
.profile {
    display: flex;
    align-items: center;
}

/* port name */
.port-name {
    padding: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.port-name img {
    margin-bottom: 10px;
    height: 140px;
    display: inline;
}
.name {
    padding: 10px;
}
.name h1 {
    line-height: 1;
    display: inline;
    margin: 10px;
    text-transform: capitalize;
}
.port-name p {
    margin: 7px;
    font-size: 16px;
    text-transform: uppercase;
}
.port-name button {
    background-color: var(--bg-sec-color);
    border: none;
    border-radius: 5px;
    margin: 10px 0px;
    padding: 10px 30px;
    font-size: 18px;
    transition: all 0.3s;
    cursor: pointer;
}
.port-name button a {
    font-family: 'Montserrat';
    color: var(--pry-color);
    text-decoration: none;
}
.port-name button:hover {
    transform: scale(1.05);
}

/* port profile contact */
.port-profile-contact {
    width: 600px;
    padding: 10px;
    box-sizing: inherit;
}
/*  profile */
.port-profile {
    margin: 0px;
    position: relative;
}
.port-profile h2 {
    margin: 0px;
    color: var(--bg-sec-color);
}
.port-profile ion-icon {
    color: var(--bg-sec-color);
}

/* contact */
.port-contact {
    padding-top: 20px;
}
.port-contact p {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-transform: capitalize;
}
.port-contact span {
    width: 230px;
}
.port-contact p a {
    text-transform: lowercase;
    text-decoration: none;
    font-weight: 600;
    color: var(--bg-sec-color);
}

/************   Portfolio Details   ******************/
.port-details {
    padding: 30px 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}
/* employment */
.port-employment {
    width: 600px;
    box-sizing: border-box;
}
.port-employment p {
    margin: 5px 0px;
}
.port-employment .img-one {
    width: 70px;
}
.port-employment .img-two {
    width: 30px;
}
.employment {
    display: flex;
    align-items: center;
}
.employment-history {
    padding: 0px 10px;
    border-left: 2px solid var(--border-color);
    margin-bottom: 20px;
}
/* eductation */
.port-education {
    width: 600px;
    box-sizing: inherit;
}
.port-education p {
    margin: 5px 0px;
}
.education {
    display: flex;
    align-items: center;
}
.education-history-title {
    margin-bottom: 20px;
    padding: 0px 10px;
    border-left: 2px solid var(--border-color);
}
/* skills */
.port-skills {
    width: 600px;
    padding: 5% 0px;
    box-sizing: border-box;
}
.port-skills ul {
    display: flex;
    flex-wrap: wrap;
}
.port-skills ul li {
    list-style-type: none;
    width: 50%;
    margin: 7px 0px;
}
/* qualities */
.port-qualities {
    width: 600px;
    padding: 5% 0px;
}
.port-qualities ul {
    display: flex;
    flex-wrap: wrap;
}
.port-qualities ul li {
    list-style-type: none;
    width: 50%;
    margin: 7px 0px;
}

/***********    Media Querry    ***************/
@media screen and (max-width: 700px) {
    body {
        font-size: 14px;
        line-height: 1.8;
    }
    h1 {
        font-size: 50px;
        font-weight: 600;
    }
    h3 {
        line-height: 1.5;
    }
    
    /* Portfolio Header */
    .port-header {
        box-sizing: border-box;
        padding: 5% 20px 2% 20px;
    }
    
    /* port name */
    .port-name p {
        font-size: 14px;
    }
    
    /* port profile contact */
    
    /*  profile */
    
    /* contact */

    
    /************   Portfolio Details   ******************/
    /* employment */
    .employment-history {
        margin-bottom: 50px;
    }
    /* eductation */
    .education-history-title {
        margin-bottom: 50px;
    }
}
